.root {
  position: relative;
  margin-top: 15px;
}

.toolbar {
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toolbar .removeButton {
  position: absolute;
  top: 8px;
  right: 15px;
}

.subcategories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 1fr));
  grid-auto-rows: max-content;
  grid-auto-flow: row dense;
  gap: 1.33rem 1rem;
  padding: 0 15px;
}
